/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

body {
  font-family: 'Smooch Sans', serif;
  margin: 0;
  color: var(--color-primary-1);
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(75deg, #F48FB1 0%, #FFD8DB 100%);
  padding: 0.7rem 10vw;
  width: 100%;
  box-sizing: border-box;
}

.header1 .company-logo {
  height: 50px;
  margin-left: 1rem;
  transition: 1s;
}

.header1 .company-logo:hover {
  transform: rotateZ(720deg);
}

.header1 a.navigation-content {
  color: #6E6E61;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.header1 a.navigation-content:hover {
  background-color: #DE3163;
  color: white;
  box-shadow: 22px 10px 5px 6px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 22px 10px 5px 6px #FF91A4;
  -moz-box-shadow: 22px 10px 5px 6px rgba(255, 163, 232, 0.73);
}

.container {
  width: 90%;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
}

h1 {
  color: #005556;
  font-size: 3rem;
}

button {
  font-family: 'Smooch Sans', serif;
  background-color: #21c4c7;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #21c4c7;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input, select {
  font-family: 'Smooch Sans', serif;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
}

input:focus, select:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
}

#demo {
  margin-top: 20px;
  font-size: 1.5rem;
}

#affirmationsList li {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.3s;
}

#affirmationsList li:hover {
  background-color: #f8f9fa;
  transform: scale(1.05);
}
